<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="CoreTest">
            <directory>./CoreTest</directory>
        </testsuite>
        
        <testsuite name="ElementTests">
            <directory>./ElementTests</directory>
        </testsuite>
    </testsuites>
</phpunit>