<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="CoreTest">
            <directory>./CoreTest</directory>
        </testsuite>
        
        <testsuite name="ElementTest">
            <directory>./ElementTest</directory>
        </testsuite>
        
        <testsuite name="ValidationTest">
            <directory>./ValidationTest</directory>
        </testsuite>
    </testsuites>
</phpunit>