<div class="input-single row collapse {% if not current.isValid() %} error{% endif %}{% if current.element.getOption("required") %} required{% endif %}">
    {% include "partial/label.twig" %}
    {%- block input -%}
    {%- endblock -%}
</div>
