<div class="row-fluid">
    {% for column in current.children -%}
    <div class="span{{ column|gridFrameworkHelper(render.colNumber) }}">
            {{- renderElement(column) -}}
    </div>
    {%- endfor %}
</div>
