<div class="row">
    {% for column in current.children -%}
    <div class="col s{{ column.getAdaptiveWidth(render.colNumber) | round }}">
            {{- renderElement(column) -}}
    </div>
    {%- endfor %}
</div>
