<div class="row">
    {% for column in current.children -%}
    <div class="col-md-{{ column|gridFrameworkHelper(render.colNumber) }}">
            {{- renderElement(column) -}}
    </div>
    {%- endfor %}
</div>
