<div class="checkbox">
    {% embed "partial/label.twig" %}
        {% block labelInner %}
            {{- defaultRenderFor(current.element) -}}
            {{ parent() }}
        {% endblock labelInner %}
    {% endembed %}
</div>
