<div class="row form-columns">
    {% for column in current.children -%}
    <div class="large-{{ column|gridFrameworkHelper(render.colNumber)  }} columns">
            {{- renderElement(column) -}}
    </div>
    {%- endfor %}
</div>
