<div class="row form-columns">
    {% for column in current.children -%}
    <div class="large-{{ column.getAdaptiveWidth(render.colNumber) }} columns">
            {{- renderElement(column) -}}
    </div>
    {%- endfor %}
</div>
